.container-imagem-fundo {
    position: relative;
}

.elemento-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-lista-upa ul {
    
    border: 10px solid #0000;
}